<table>
   <tr>
       <th></th>
       <th>Application web</th>
       <th>Application mobile</th>
   </tr>

   <tr>
       <td>Application / code source</td>
       <td><a href="https://github.com/crzskll/applicationFrais" target="_blank">GitHub</a></td>
       <td><a href="{{ asset('bundles/gsbapplifrais/pdf/GsbAppliFraisMobile.apk') }}" download>Fichier .apk</a></td>
   </tr>
   <tr>
       <td>Cahier des charges</td>
       <td><a href="{{ asset('bundles/gsbapplifrais/pdf/CdCWeb.pdf') }}" target="_blank">Cahier des charges</a></td>
       <td><a href="{{ asset('bundles/gsbapplifrais/pdf/CdCMobile.pdf') }}" target="_blank">Cahier des charges</a></td>
   </tr>
   <tr>
       <td>Documentation utilisateur</td>
       <td><a href="{{ asset('bundles/gsbapplifrais/pdf/DocVisiteur.pdf') }}" target="_blank">Documentation Visiteurs</a><br><a href="{{ asset('bundles/gsbapplifrais/pdf/DocCompt.pdf') }}" target="_blank">Documentation Comptables</a>
       	</td>
       <td><a href="{{ asset('bundles/gsbapplifrais/pdf/DocMobile.pdf') }}" target="_blank">Documentation Mobile</a></td>
   </tr>
</table>