<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href = "{{ asset('bundles/gsbapplifrais/css/portal.css') }}" 
          rel = "stylesheet" type = "text/css"/>
        <title>Portal</title>
    </head>
    <body>
        <h1>Laboratoire Galaxy Swiss Bourdin</h1>
        <div class="connexion">
            <img   src="{{ asset('bundles/gsbapplifrais/images/logo.png') }}"/>
            
            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}
            <div id="divFormConect">
                <form action="{{ path('login_check') }}" method="post">
                    <div class="plop">
                        <label for="username">Login :</label>
                    </div>
                    <div class="plop">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <div class="plop">
                        <label for="password">Mot de passe :</label>
                    </div>
                    <div class="plop">
                        <input type="password" id="password" name="_password" />
                    </div>
                    <button id="BtnConnect" type="submit">Connexion</button>
                </form>
            </div>
        </div>
    </body>
</html>