{% extends 'GsbAppliFraisBundle::layout.html.twig' %}

{% block corps %}

	<table>
	   <caption>Fiches</caption>

	   <tr>
	       <th>Visiteur</th>
	       <th>Date</th>
	       <th>Derniere modif</th>
	       <th>Montant tot</th>
	       <th>Montant validé</th>
	       <th>Etat</th>
	       <th></th>
	   </tr>

	   {% for fiche in fiches %}
		    <tr>
				<td>{{fiche.employe.nom}} {{fiche.employe.prenom}}</td>
				<td>{{fiche.date.format('m-Y')}}</td>
				<td>{{fiche.dateModification.format('d-m-Y')}}</td>
				<td>{{fiche.totalFiche}} €</td>
				<td>{{fiche.totalFicheValide}} €</td>
				<td>{{fiche.etat.libelle}}</td>
				<td><a href="{{ path('comptable_show', { 'idFiche': fiche.id }) }}">show</a></td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}