{% extends 'GsbAppliFraisBundle::layout.html.twig' %}

{% block corps %}
	<div class="tableFiche">
		<table class="ligneFiche">
		   <caption>Fiches</caption>

		   <tr>
		       <td>Visiteur</td>
		       <td>Date</td>
		       <td>Derniere modif</td>
		       <td>Montant tot</td>
		       <td>Montant validé</td>
		       <td>Etat</td>
		       <td></td>
		   </tr>

		   {% for fiche in fiches %}
			    <tr>
					<td>{{fiche.employe.nom}} {{fiche.employe.prenom}}</td>
					<td>{{fiche.date.format('m-Y')}}</td>
					<td>{{fiche.dateModification.format('d-m-Y')}}</td>
					<td>{{fiche.totalFiche}} €</td>
					<td>{{fiche.totalFicheValide}} €</td>
					<td>{{fiche.etat.libelle}}</td>
					<td><a href="{{ path('comptable_show', { 'idFiche': fiche.id }) }}">show</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>

{% endblock %}

{% block rightUp %}
	<div class="contentForm">
		{{form(formVisit)}}
	</div>
{% endblock %}

{% block rightDown %}
	<div class="contentForm">
		{{form(formFiche)}}
	</div>
{% endblock %}