{% extends 'GsbAppliFraisBundle:visiteur:saisie.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/gsbapplifrais/css/historique.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ asset('bundles/gsbapplifrais/css/saisie.css') }}" type="text/css" media="all" />
{% endblock %}

{% block corps %}
	<div>
		{% if fiches | length > 0 %}
			<div class="tableFiche">
				<table class="ligneFiche">
				   <caption>Fiches</caption>

				   <tr>
				       <td>Date</td>
				       <td>Derniere modif</td>
				       <td>Montant tot</td>
				       <td>Montant validé</td>
				       <td>Etat</td>
				       <td></td>
				   </tr>

				    {% for fiche in fiches %}

					    <tr>
							<td>{{fiche.date.format('m-Y')}}</td>
							<td>{{fiche.dateModification.format('d-m-Y')}}</td>
							<td>{{fiche.totalFiche}} €</td>
							<td>{{fiche.totalFicheValide}} €</td>
							<td>{{fiche.etat.libelle}}</td>
							<td><a href="{{ path('historique_show', { 'idFiche': fiche.id }) }}">show</a></td>
						</tr>
					{% endfor %}
				</table>
			
			</div>
		{% else %}
			<div class="message titleFiche">
				Aucune fiche trouvée pour ces critères de recherche
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block rightUp %}
	<div class="titleForm">
		Recherche de fiches
	</div>	
	<div class="contentForm formFindFiche">
		{{ form(formFiche) }}
	</div>
{% endblock %}

{% block rightDown %}
		<div class="contentForm">
			{{ form(formLigne) }}
		</div> 
{% endblock %}