{% extends 'GsbAppliFraisBundle:visiteur:historique.html.twig' %}

{% block corps %}
	<div class="listeHistorique">
		{% for ligne in lignesForfait %}
			<div>
				{{ligne.statut.libelle}}
				{{ligne.fiche.date.format('F Y')}}

				{% for frais in ligne.fraisForfaits %}
					{{frais.quantite}}
				{% endfor %}
			</div>
		{% endfor %}

		{% for ligne in lignesHorsForfait %}
			<div>
				{{ligne.date.format('d-m-Y')}}
				{{ligne.libelle}}
				{{ligne.montant}}
				{{ligne.statut.libelle}}
			</div>
		{% endfor %}
	</div>
{% endblock %}