{% extends 'GsbAppliFraisBundle:visiteur:historique.html.twig' %}

{% block corps %}
	<div class="listeHistorique">


		{% if type != 'horsForfait' %}
			<table>
			   <caption>Lignes forfaitisées</caption>

			   <tr>
			       <th>Date</th>
			       <th>Nuit</th>
			       <th>Repas</th>
			       <th>Km</th>
			       <th>Etape</th>
			       <th>Statut</th>
			       <th>Motif</th>
			       <th></th>
			   </tr>

			   {% for ligne in lignesForfait %}
				   <tr>
				       <td>{{ligne.fiche.date.format('F Y')}}</td>
				       {% for frais in ligne.fraisForfaits %}
							<td>{{frais.quantite}}</td>
						{% endfor %}
						<td>{{ligne.statut}}</td>
				       <td>{{ligne.motif}}</td>
				       <td><a href="{{ path('historique_show', { 'idVisit': visiteur.id, 'idFiche': ligne.fiche.id }) }}">show</a></td>
				   </tr>
				{% endfor %}
			</table>
		{% endif %}

		{% if type != 'Forfait' %}
			<table>
			   <caption>Lignes non forfaitisées</caption>

			   <tr>
			       <th>Date</th>
			       <th>Description</th>
			       <th>Montant</th>
			       <th>Statut</th>
			       <th>Motif</th>
			       <th></th>
			   </tr>

			   {% for ligne in lignesHorsForfait %}
				   <tr>
					<td>{{ligne.date.format('d-m-Y')}}</td>
					<td>{{ligne.libelle}}</td>
					<td>{{ligne.montant}}</td>
					<td>{{ligne.statut.libelle}}</td>
					<td>{{ligne.motif}}</td>
					<td><a href="{{ path('historique_show', { 'idVisit': visiteur.id, 'idFiche': ligne.fiche.id }) }}">show</a></td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}

	</div>
{% endblock %}