{% extends 'GsbAppliFraisBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/gsbapplifrais/css/saisie.css') }}" type="text/css" media="all" />
{% endblock %}

{% block liens %}
	<div id="historiqueMenu">
        {% block historique %}
        	<a href="{{ path('historique') }}">Historique</a>
        {% endblock %}
    </div>
    <div id="saisieMenu">
        {% block saisie %}
        	<a href="{{ path('visiteur') }}">Fiche en cours</a>
        {% endblock %}
    </div>
    <div id="infoMenu">
    	<a href="{{ asset('bundles/gsbapplifrais/pdf/DocVisiteur.pdf') }}" target="_blank">
    		<button class="buttonInfo">?</button>
    	</a>
	</div>
{% endblock %}

{% block nom %}
    {{visiteur.nom}} {{visiteur.prenom}}
{% endblock %}

{% block corps %}
	<div class="titleFiche">
		Fiche de frais de {{fiche.date.format('F')|trans}} {{fiche.date.format('Y')}}
	</div>

	<div class="infoFiche">
		<div class="infoLeft">
			Visiteur {{visiteur.id}} :<br>{{visiteur.nom}} {{visiteur.prenom}}
		</div>
		<div class="infoRight">
			Derniere modification effectuée le :<br>{{fiche.dateModification.format('d/m/Y')}}
		</div>
	</div>

	<div>
		<div>
			{% block ligneforfait %} 	
				<div class="tableFiche">
					<table class="ligneFiche">
						<caption>
							Ligne de frais forfaitisés
						</caption>
						<tr>
							<td>
								Forfait
							</td>
							{% for forfaitLigne in fiche.forfaitLignes %}
								{% for frais in forfaitLigne.fraisForfaits %}
									<td>
										{{frais.forfait.libelle}}
									</td>
								{% endfor %}
							{% endfor %}
						</tr>
						<tr>
							<td>
								Quantité
							</td>
							{% for forfaitLigne in fiche.forfaitLignes %}
								{% for frais in forfaitLigne.fraisForfaits %}
									<td>
										{{frais.quantite}}
									</td>
								{% endfor %}
							{% endfor %}
						</tr>
						<tr >
							<td>
								Cout unitaire
							</td>
							{% for forfaitLigne in fiche.forfaitLignes %}
								{% for frais in forfaitLigne.fraisForfaits %}
									<td>
										{{frais.forfait.montant}} €
									</td>
								{% endfor %}
							{% endfor %}
						</tr>
						<tr >
							<td >
								Sous total
							</td>
							{% for forfaitLigne in fiche.forfaitLignes %}
								{% for frais in forfaitLigne.fraisForfaits %}
									<td>
										{{frais.forfait.montant*frais.quantite}} €
									</td>
								{% endfor %}
							{% endfor %}
						</tr>
					</table>
				</div>
				<div class="totsFiche">
					Total : {{fiche.forfaitLignes[0].totalLigneForfait}} €		
				</div>
			{% endblock %}
		</div>
		<div>
			{% block lignehorsforfait %}
			{% if fiche.horsForfaitLignes | length > 0 %}
				<div class="tableFiche">
					<table class="ligneFiche">
						<caption>
							Lignes de frais hors forfait
						</caption>
						<tr>
							<td>
								Date
							</td>
							<td>
								Description
							</td>
							<td>
								Montant
							</td>
							<td>
								Modification
							</td>
						</tr>
						{% for ligneHorsForfait in fiche.horsForfaitLignes %}
							<tr>
								<td>
									{{ ligneHorsForfait.date.format('d-m-Y')}}
								</td>
								<td>
									{{ ligneHorsForfait.libelle}}
								</td>
								<td>
									{{ ligneHorsForfait.montant}}€
								</td>
								<td>
									<a href="{{ path('visiteur_ligneHorsForfait_edit', {'idLigne': ligneHorsForfait.id }) }}">
										mod/suppr
									</a>
								</td>
							</tr >
						{% endfor %}
					</table>
				</div>
				<div class="totsFiche">			
					Total : {{fiche.totalHorsForfait}} €
				</div>
			{% endif %}
			{% endblock %}
		</div>
	</div>

	<div class="totGlob">
		Total fiche : {{fiche.totalFiche}} €
	</div>
{% endblock %}

{% block rightUp %}
	<div class="titleForm">
		Frais forfaitisés
	</div>
	<div class="contentForm formSaisieF">
		{{ form(formSaisieForfait) }}
	</div>
{% endblock %}

{% block rightDown %}
	<div class="titleForm">
		Frais non forfaitisés
	</div>
	<div class="contentForm formSaisieHf">
		{{ form_start(formSaisieHorsForfait) }}
		{{ form_errors(formSaisieHorsForfait) }}
			<div>
			{{ form_label(formSaisieHorsForfait.date) }}
			{{ form_errors(formSaisieHorsForfait.date) }}
			{{ form_widget(formSaisieHorsForfait.date) }}
		</div>
		<div>
			{{ form_label(formSaisieHorsForfait.libelle, 'Description') }}
			{{ form_errors(formSaisieHorsForfait.libelle) }}
			{{ form_widget(formSaisieHorsForfait.libelle) }}
		</div>
		<div>
			{{ form_label(formSaisieHorsForfait.montant) }}
			{{ form_errors(formSaisieHorsForfait.montant) }}
			{{ form_widget(formSaisieHorsForfait.montant) }}
		</div>
		<div class="hiden">
			{{ form_label(formSaisieHorsForfait.statut) }}
			{{ form_errors(formSaisieHorsForfait.statut) }}
			{{ form_widget(formSaisieHorsForfait.statut) }}
		</div>
		<div class="hiden">
			{{ form_label(formSaisieHorsForfait.fiche) }}
			{{ form_errors(formSaisieHorsForfait.fiche) }}
			{{ form_widget(formSaisieHorsForfait.fiche) }}
		</div>
		<div class="submitButton">
			{{ form_end(formSaisieHorsForfait) }}
		
			{% block deleteForm%}
			{% endblock %}
		</div>
	</div> 
{% endblock %}