{% extends 'GsbAppliFraisBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/gsbapplifrais/css/saisie.css') }}" type="text/css" media="all" />
{% endblock %}

{% block liens %}
	<div id="historiqueMenu">
        {% block historique %}
        	<a href="{{ path('historique') }}">Historique</a>
        {% endblock %}
    </div>
    <div id="saisieMenu">
        {% block saisie %}
        	<a href="{{ path('visiteur') }}">Fiche en cours</a>
        {% endblock %}
    </div>
{% endblock %}

{% block nom %}
    {{visiteur.nom}} {{visiteur.prenom}}
{% endblock %}

{% block corps %}
	<div>
		Fiche de frais de {{fiche.date.format('F Y')}}
	</div>

	<div>
		<div>
			Visiteur {{visiteur.id}} :<br>{{visiteur.nom}} {{visiteur.prenom}}
		</div>
		<div>
			Derniere modification effectuée le :<br>{{fiche.dateModification.format('d/m/Y')}}
		</div>
	</div>

	<div>
		<div>
			{% block ligneforfait %} 	
				<div class="tableFiche">
					<table class="ligneFiche">
						<caption>
							ligne forait
						</caption>
						<tr>
							<td>
								Forfait
							</td>
							{% for forfaitLigne in fiche.forfaitLignes %}
								{% for frais in forfaitLigne.fraisForfaits %}
									<td>
										{{frais.forfait.libelle}}
									</td>
								{% endfor %}
							{% endfor %}
						</tr>
						<tr>
							<td>
								Quantité
							</td>
							{% for forfaitLigne in fiche.forfaitLignes %}
								{% for frais in forfaitLigne.fraisForfaits %}
									<td>
										{{frais.quantite}}
									</td>
								{% endfor %}
							{% endfor %}
						</tr>
						<tr >
							<td>
								Cout unitaire
							</td>
							{% for forfaitLigne in fiche.forfaitLignes %}
								{% for frais in forfaitLigne.fraisForfaits %}
									<td>
										{{frais.forfait.montant}} €
									</td>
								{% endfor %}
							{% endfor %}
						</tr>
						<tr >
							<td >
								Sous total
							</td>
							{% for forfaitLigne in fiche.forfaitLignes %}
								{% for frais in forfaitLigne.fraisForfaits %}
									<td>
										{{frais.forfait.montant*frais.quantite}} €
									</td>
								{% endfor %}
							{% endfor %}
						</tr>
					</table>
				</div>
				<div>
					<table>
						<tr>
							<td>
								Total
							</td>
							<td>
								{{fiche.forfaitLignes[0].totalLigneForfait}} €
							</td>
						</tr>
					</table>
				</div>
			{% endblock %}
		</div>
		<div>
			{% block lignehorsforfait %}
				<div class="tableFiche">
					<table class="ligneFiche">
						<caption>
							ligne hors forfait
						</caption>
						<tr>
							<td>
								Date
							</td>
							<td>
								Description
							</td>
							<td>
								Montant
							</td>
							<td>
							</td>
						</tr>
						{% for ligneHorsForfait in fiche.horsForfaitLignes %}
							<tr>
								<td>
									{{ ligneHorsForfait.date.format('d-m-Y')}}
								</td>
								<td>
									{{ ligneHorsForfait.libelle}}
								</td>
								<td>
									{{ ligneHorsForfait.montant}}€
								</td>
								<td>
									<a href="{{ path('visiteur_ligneHorsForfait_edit', {'idLigne': ligneHorsForfait.id }) }}">
										edit
									</a>
								</td>
							</tr >
						{% endfor %}
					</table>
				</div>
				<div>
					<table>
						<tr>
							<td>
								Total
							</td>
							<td>
								{{fiche.totalHorsForfait}} €
							</td>
						</tr>
					</table>
				</div>
			{% endblock %}
		</div>
	</div>

	<div>
		total fiche : {{fiche.totalFiche}} €
	</div>
{% endblock %}

{% block rightUp %}
	<div class="contentForm">
		{{ form(formSaisieForfait) }}
	</div>
{% endblock %}

{% block rightDown %}
	<div class="contentForm">
		{{ form_start(formSaisieHorsForfait) }}
		{{ form_errors(formSaisieHorsForfait) }}
			<div>
			{{ form_label(formSaisieHorsForfait.date) }}
			{{ form_errors(formSaisieHorsForfait.date) }}
			{{ form_widget(formSaisieHorsForfait.date) }}
		</div>
		<div>
			{{ form_label(formSaisieHorsForfait.libelle) }}
			{{ form_errors(formSaisieHorsForfait.libelle) }}
			{{ form_widget(formSaisieHorsForfait.libelle) }}
		</div>
		<div>
			{{ form_label(formSaisieHorsForfait.montant) }}
			{{ form_errors(formSaisieHorsForfait.montant) }}
			{{ form_widget(formSaisieHorsForfait.montant) }}
		</div>
		<div class="hiden">
			{{ form_label(formSaisieHorsForfait.statut) }}
			{{ form_errors(formSaisieHorsForfait.statut) }}
			{{ form_widget(formSaisieHorsForfait.statut) }}
		</div>
		<div class="hiden">
			{{ form_label(formSaisieHorsForfait.fiche) }}
			{{ form_errors(formSaisieHorsForfait.fiche) }}
			{{ form_widget(formSaisieHorsForfait.fiche) }}
		</div>
		{{ form_end(formSaisieHorsForfait) }}
		{% block deleteForm%}
		{% endblock %}
	</div> 
{% endblock %}