{% extends 'GsbAppliFraisBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/gsbapplifrais/css/saisie.css') }}" type="text/css" media="all" />
{% endblock %}

{% block corps %}
	<div id="fiche" class="container">
	  {% block ligneforfait %}
	    <div id="ligneForfait" class="container">
	      ligne forait
	      <div id="libelleForfait">
	        <div class="libelleForfait">
	          Etapes
	        </div>
	        <div class="libelleForfait">
	          Kilométres
	        </div>
	        <div class="libelleForfait">
	          Nuits
	        </div>
	        <div class="libelleForfait">
	          Repas
	        </div>
	      </div>
	      <div id="quantiteForfait">

	        {% for ligneForfait in fiche.forfaitLignes %}

	          <div class="quantiteForfait">
	            {{ ligneForfait.nbEtape }}
	          </div>
	          <div class="quantiteForfait">
	            {{ ligneForfait.nbKm }}
	          </div>
	          <div class="quantiteForfait">
	            {{ ligneForfait.nbNuit }}
	          </div>
	          <div class="quantiteForfait">
	            {{ ligneForfait.nbRepas }}
	          </div>

	        {% endfor %}

	      </div>
	    </div>
	  {% endblock %}

	  {% block lignehorsforfait %}
	    <div id="ligneHorsForfait" class="container">
	      ligne hors forfait
	      <div id="libelleHorsForfait">
	        <div class="libelleHorsForfait">
	          Date
	        </div>
	        <div class="descriptionHorsForfait">
	          Description
	        </div>
	        <div class="libelleHorsForfait">
	          Montant
	        </div>
	      </div>
	      <div id="quantiteHorsForfait">

	        {% for ligneHorsForfait in fiche.horsForfaitLignes %}
	          <div class="quantiteHorsForfait">
	            {{ ligneHorsForfait.date.format('d-m-Y')}}
	          </div>
	          <div class="descriptionHorsForfait">
	            {{ ligneHorsForfait.libelle}}
	          </div>
	          <div class="quantiteHorsForfait">
	            {{ ligneHorsForfait.montant}}€
	          </div>
	        {% endfor %}

	      </div>
	    </div>  
	  {% endblock %}
	</div>
{% endblock %}

{% block rightUp %}
	<div id="saisieForfait" class="container">
		{{ form(formSaisieForfait) }}
	</div>
{% endblock %}

{% block rightDown %}
	<div id="saisieHorsForfait" class="container">
		{{ form(formSaisieHorsForfait) }}
	</div>
{% endblock %}