{% extends 'GsbAppliFraisBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/gsbapplifrais/css/saisie.css') }}" type="text/css" media="all" />
{% endblock %}

{% block corps %}
	<div id="fiche" class="container">
	  {% block ligneforfait %}
	    <div id="ligneForfait" class="container">
	      ligne forait
	      <div id="libelleForfait">
	        <div class="libelleForfait">
	          Etapes
	        </div>
	        <div class="libelleForfait">
	          Kilométres
	        </div>
	        <div class="libelleForfait">
	          Nuits
	        </div>
	        <div class="libelleForfait">
	          Repas
	        </div>
	      </div>
	      <div id="quantiteForfait">

	        {% for ligneForfait in fiche.forfaitLignes %}

	          <div class="quantiteForfait">
	            {{ ligneForfait.nbEtape }}
	          </div>
	          <div class="quantiteForfait">
	            {{ ligneForfait.nbKm }}
	          </div>
	          <div class="quantiteForfait">
	            {{ ligneForfait.nbNuit }}
	          </div>
	          <div class="quantiteForfait">
	            {{ ligneForfait.nbRepas }}
	          </div>

	        {% endfor %}

	      </div>
	    </div>
	  {% endblock %}

	  {% block lignehorsforfait %}
	    <div id="ligneHorsForfait" class="container">
	      ligne hors forfait
	      <div id="libelleHorsForfait">
	        <div class="libelleHorsForfait">
	          Date
	        </div>
	        <div class="descriptionHorsForfait">
	          Description
	        </div>
	        <div class="libelleHorsForfait">
	          Montant
	        </div>
	      </div>
	      <div id="quantiteHorsForfait">

	        {% for ligneHorsForfait in fiche.horsForfaitLignes %}
	          <div class="quantiteHorsForfait">
	            {{ ligneHorsForfait.date.format('d-m-Y')}}
	          </div>
	          <div class="descriptionHorsForfait">
	            {{ ligneHorsForfait.libelle}}
	          </div>
	          <div class="quantiteHorsForfait">
	            {{ ligneHorsForfait.montant}}€
	          </div>
	        {% endfor %}

	      </div>
	    </div>  
	  {% endblock %}
	</div>
{% endblock %}

{% block rightUp %}
	<div id="saisieForfait" class="container">
		<div class="contentForm">
			{{ form_start(formSaisieForfait) }}
			    {{ form_errors(formSaisieForfait) }}

			    <div>
			        {{ form_label(formSaisieForfait.nbEtape) }}
			        {{ form_errors(formSaisieForfait.nbEtape) }}
			        {{ form_widget(formSaisieForfait.nbEtape) }}
			    </div>

			    <div>
			        {{ form_label(formSaisieForfait.nbKm) }}
			        {{ form_errors(formSaisieForfait.nbKm) }}
			        {{ form_widget(formSaisieForfait.nbKm) }}
			    </div>

			    <div>
			        {{ form_label(formSaisieForfait.nbNuit) }}
			        {{ form_errors(formSaisieForfait.nbNuit) }}
			        {{ form_widget(formSaisieForfait.nbNuit) }}
			    </div>

			    <div>
			        {{ form_label(formSaisieForfait.nbRepas) }}
			        {{ form_errors(formSaisieForfait.nbRepas) }}
			        {{ form_widget(formSaisieForfait.nbRepas) }}
			    </div>

			    <div class="hiden">
			        {{ form_label(formSaisieForfait.statut) }}
			        {{ form_errors(formSaisieForfait.statut) }}
			        {{ form_widget(formSaisieForfait.statut) }}
			    </div>

			    <div class="hiden">
			        {{ form_label(formSaisieForfait.fiche) }}
			        {{ form_errors(formSaisieForfait.fiche) }}
			        {{ form_widget(formSaisieForfait.fiche) }}
			    </div>

			{{ form_end(formSaisieForfait) }}

		</div>
	</div>
{% endblock %}

{% block rightDown %}
	<div id="saisieHorsForfait" class="container">
		<div class="contentForm">
			{{ form_start(formSaisieHorsForfait) }}
			    {{ form_errors(formSaisieHorsForfait) }}

			    <div>
			        {{ form_label(formSaisieHorsForfait.date) }}
			        {{ form_errors(formSaisieHorsForfait.date) }}
			        {{ form_widget(formSaisieHorsForfait.date) }}
			    </div>

			    <div>
			        {{ form_label(formSaisieHorsForfait.libelle) }}
			        {{ form_errors(formSaisieHorsForfait.libelle) }}
			        {{ form_widget(formSaisieHorsForfait.libelle) }}
			    </div>

			    <div>
			        {{ form_label(formSaisieHorsForfait.montant) }}
			        {{ form_errors(formSaisieHorsForfait.montant) }}
			        {{ form_widget(formSaisieHorsForfait.montant) }}
			    </div>

			    <div class="hiden">
			        {{ form_label(formSaisieHorsForfait.statut) }}
			        {{ form_errors(formSaisieHorsForfait.statut) }}
			        {{ form_widget(formSaisieHorsForfait.statut) }}
			    </div>

			    <div class="hiden">
			        {{ form_label(formSaisieHorsForfait.fiche) }}
			        {{ form_errors(formSaisieHorsForfait.fiche) }}
			        {{ form_widget(formSaisieHorsForfait.fiche) }}
			    </div>

			{{ form_end(formSaisieHorsForfait) }}
		</div>
	</div>
{% endblock %}