{% extends 'GsbAppliFraisBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/gsbapplifrais/css/saisie.css') }}" type="text/css" media="all" />
{% endblock %}

{% block corps %}

		<div>
			<div>
				<div class="infosFiche">
					Fiche de {{fiche.date.format('F Y')}}
				</div>
				<div class="infosFiche right">
					Visiteur N°{{visiteur.id}}
				</div>
			</div>
			<div>
				<div class="infosFiche">
					Derniere modification effectuée le :<br>{{fiche.dateModification.format('d/m/Y')}}
				</div>
				<div class="infosFiche right">
					{{visiteur.nom}} {{visiteur.prenom}}
				</div>
			</div>
		</div>

	  {% block ligneforfait %}
	    <table id="ligneForfait">
	      <caption>ligne forait</caption>
	      <tr>
	      	<th class="legende">
	      		Forfait
	      	</th>
	        {% for forfaitLigne in fiche.forfaitLignes %}

	      		{% for frais in forfaitLigne.fraisForfaits %}

	      			<td class="quantiteForfait">
	        			{{frais.forfait.libelle}}
	        		</td>

	      		{% endfor %}

	      	{% endfor %}
	      </tr>
	      <tr>

	

	        <td class="legende">
	      		Quantite
	      	</td>
	      	{% for forfaitLigne in fiche.forfaitLignes %}

	      		{% for frais in forfaitLigne.fraisForfaits %}

	      			<td class="quantiteForfait">
	        			{{frais.quantite}}
	        		</td>

	      		{% endfor %}

	      	{% endfor %}

	      </tr>

	      <tr >

	        <td class="legende">
	      		Cout unitaire
	      	</td>
	      	
	        {% for forfaitLigne in fiche.forfaitLignes %}

	      		{% for frais in forfaitLigne.fraisForfaits %}

	      			<td class="quantiteForfait">
	        			{{frais.forfait.montant}} €
	        		</td>

	      		{% endfor %}

	      	{% endfor %}
	        

	      </tr>

	      <tr >

	        <td class="legende noBorder">
	      		
	      	</td>
	        <td class="quantiteForfait noBorder">
	        	
	        </td>
	        <td class="quantiteForfait noBorder">
	        	
	        </td>
	        <td class="quantiteForfait noBorder">
	        	
	        </td>
	        <td class="quantiteForfait noBorder">
	        	
	        </td>

	      </tr>

	      <tr >

	        <td class="legende noBorder">
	      
	      	</td>
	        <td class="quantiteForfait noBorder">
	        	
	        </td>
	        <td class="quantiteForfait noBorder">
	        	
	        </td>
	        <td class="quantiteForfait">
	        	Total
	        </td>
	        <td class="quantiteForfait">
	        	{{totFraisForfait}} €
	        </td>

	      </tr>
	    </table>
	  {% endblock %}

	  {% block lignehorsforfait %}
	    <table id="ligneHorsForfait">
	      <caption>ligne hors forfait</caption>
	      <tr id="libelleHorsForfait">
	        <th class="quantiteHorsForfait">
	          Date
	        </th>
	        <th class="descriptionHorsForfait">
	          Description
	        </th>
	        <th class="quantiteHorsForfait">
	          Montant
	        </th>
	        <th class="delHorsForfait">
	            
	        </th>
	      </tr>
	      <tr id="quantiteHorsForfait">

	        {% for ligneHorsForfait in fiche.horsForfaitLignes %}
	          <td class="quantiteHorsForfait">
	            {{ ligneHorsForfait.date.format('d-m-Y')}}
	          </td>
	          <td class="descriptionHorsForfait">
	            {{ ligneHorsForfait.libelle}}
	          </td>
	          <td class="quantiteHorsForfait">
	            {{ ligneHorsForfait.montant}}€
	          </td>
	          <td class="delHorsForfait">
	            <a href="{{ path('visiteur_ligneHorsForfait_edit', { 'idVisit': visiteur.id, 'idLigne': ligneHorsForfait.id }) }}">edit</a>
	          </td>
	        {% endfor %}

	        <tr >

		        <td class="legende noBorder">
		      		
		      	</td>
		        <td class="quantiteForfait noBorder">
		        	
		        </td>
		        <td class="quantiteForfait noBorder">
		        	
		        </td>
		        <td class="quantiteForfait noBorder">
		        	
		        </td>
		        <td class="quantiteForfait noBorder">
		        	
		        </td>

		      </tr>

		      <tr >

		        <td class="legende noBorder">
		      
		      	</td>
		        <td class="quantiteForfait noBorder">
		        	
		        </td>
		        <td class="quantiteForfait noBorder">
		        	
		        </td>
		        <td class="quantiteForfait">
		        	Total
		        </td>
		        <td class="quantiteForfait">
		        	{{totFraisHorsForfait}} €
		        </td>

		      </tr>

	      </tr>
	    </table>  
	  {% endblock %}
	
{% endblock %}

{% block rightUp %}
		<div class="contentForm">
			{{ form_start(formSaisieForfait) }}
			    {{ form_errors(formSaisieForfait) }}

			    <div class="hiden">
			        {{ form_label(formSaisieForfait.statut) }}
			        {{ form_errors(formSaisieForfait.statut) }}
			        {{ form_widget(formSaisieForfait.statut) }}
			    </div>

			    <div class="hiden">
			        {{ form_label(formSaisieForfait.fiche) }}
			        {{ form_errors(formSaisieForfait.fiche) }}
			        {{ form_widget(formSaisieForfait.fiche) }}
			    </div>

			{{ form_end(formSaisieForfait) }}

		</div>
{% endblock %}

{% block rightDown %}
		<div class="contentForm">
			{{ form_start(formSaisieHorsForfait) }}
			    {{ form_errors(formSaisieHorsForfait) }}

			    <div>
			        {{ form_label(formSaisieHorsForfait.date) }}
			        {{ form_errors(formSaisieHorsForfait.date) }}
			        {{ form_widget(formSaisieHorsForfait.date) }}
			    </div>

			    <div>
			        {{ form_label(formSaisieHorsForfait.libelle) }}
			        {{ form_errors(formSaisieHorsForfait.libelle) }}
			        {{ form_widget(formSaisieHorsForfait.libelle) }}
			    </div>

			    <div>
			        {{ form_label(formSaisieHorsForfait.montant) }}
			        {{ form_errors(formSaisieHorsForfait.montant) }}
			        {{ form_widget(formSaisieHorsForfait.montant) }}
			    </div>

			    <div class="hiden">
			        {{ form_label(formSaisieHorsForfait.statut) }}
			        {{ form_errors(formSaisieHorsForfait.statut) }}
			        {{ form_widget(formSaisieHorsForfait.statut) }}
			    </div>

			    <div class="hiden">
			        {{ form_label(formSaisieHorsForfait.fiche) }}
			        {{ form_errors(formSaisieHorsForfait.fiche) }}
			        {{ form_widget(formSaisieHorsForfait.fiche) }}
			    </div>

			{{ form_end(formSaisieHorsForfait) }}

			{% block deleteForm%}
			{% endblock %}
		</div> 
{% endblock %}