<!DOCTYPE html>
<html>
  <head>
    <title>

      {% block title %}
        Jobeet - Your best job board
      {% endblock %}

    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/gsbapplifrais/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

  </head>
  <body>
    <div>
      
      {% block menu %}
      <div id="menu" class="container">
        {% block date %}
          <div id="dateMenu">
            date
          </div>
        {% endblock %}
        {% block historique %}
          <div id="historiqueMenu">
            <a href="{{ path('historique', { 'id': visiteur.id }) }}">Historique</a>
          </div>
        {% endblock %}
        {% block saisie %}
          <div id="saisieMenu">
            <a href="{{ path('visiteur', { 'id': visiteur.id }) }}">Fiche en cours</a>
          </div>
        {% endblock %}
        {% block nom %}
          <div id="nomMenu">
            {{visiteur.nom}} {{visiteur.prenom}}
          </div>
        {% endblock %}
        {% block deconnexion %}
          <div id="deconnexionMenu">
            <a href="{{ path('gsb_appli_frais_portal') }}">Deconnexion</a>
          </div>
        {% endblock %}
      </div>
      {% endblock %}

      {% block logo %}
      <div id="logo" class="container">
        <img   src="{{ asset('bundles/gsbapplifrais/images/logo.png') }}" class="imglogo"/>
      </div>
      {% endblock %}

      <h1>Laboratoir Galaxy Swiss Bourdin</h1>
      
      {% block corps %}
        <div id="center" class="container">
        </div>
      {% endblock %}

      {% block rightUp %}
        <div id="rightUp" class="container">
        </div>
      {% endblock %}

      {% block rightDown %}
        <div id="rightDown" class="container">
        </div>
      {% endblock %}
 
    </div>
  </body>
</html>